# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda
.conda/
conda-meta/

# Virtual environments
venv/
.env/
.venv/

# Database
*.db
data/chroma_db/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log