{% extends "base.html" %}

{% block content %}

<style>

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #111827;
    color: white;
}

tr:hover {
    background: #f8fafc;
}

</style>

<h1>📊 Gold Price History</h1>

<table>

    <tr>
        <th>Date</th>
        <th>City</th>
        <th>24K Gold</th>
        <th>22K Gold</th>
        <th>Daily Change</th>
    </tr>

    {% for row in history_data %}

    <tr>
        <td>{{ row.date }}</td>
        <td>{{ row.city }}</td>
        <td>₹{{ row.price_24k }}</td>
        <td>₹{{ row.price_22k }}</td>

        <td>

        {% if row.daily_change > 0 %}

            <span style="color:green;">
                +₹{{ "%.2f"|format(row.daily_change) }}
            </span>

        {% elif row.daily_change < 0 %}

            <span style="color:red;">
                ₹{{ "%.2f"|format(row.daily_change) }}
            </span>

        {% else %}

            -

        {% endif %}

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}